.order-form {
    margin-top: 1.5em;
    width: 90%;
    height: 90%;
    color: var(--text-color);
    border-radius: .5em;
    
    background-color: var(--secondary-color);
}

.order-form h3 {
    margin-bottom: .5em;
}

.form-title {
    width: 100%;
    height: 10%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.form-content {
    width: 100%;
    padding: 2em;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.form-user-info {
    display: flex;
    width: 100%;
    height: 40%;
    margin-bottom: 1em;
}

.user-info-left {
    width: 50%;
    height: auto;
}

.user-info-right {
    width: 50%;
    height: auto;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-bottom: .5em;
}

#form-user-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-input-container .dropdown {
    height: 60%;
}

.form-input-container .drop-btn {
    width: 95%;
    justify-content: space-between;
    background-color: var(--fourth-color);
}

.form-input-container .dropdown-content {
    width: 95%;
    background-color: var(--fourth-color);
}

.form-input-container label {
    font-size: .8em;
    margin-bottom: .5em;
    font-weight: bold;
}

.form-input-container input {
    border-radius: .2em;
    width: 95%;
    height: 60%;
    border: none;
    background-color: var(--fourth-color);
    padding: 0.6em;
    color: var(--text-color);
}

.form-input-container input:focus {
    outline: none;
}

.form-order-details {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.form-order-details ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.form-car-details {
    width: 49%;
    display: flex;
    background-color: var(--fourth-color);
    padding: 1em;
    border-radius: .2em;
}

.car-details-left {
    width: 50%;
    height: 100%;
}

.car-details-left li {
    font-size: .9em;

}

.car-details-left span {
    font-weight: bold;
}

.details-left-price {
    background-color: var(--primary-color);
    padding: .2em;
    border-radius: .2em;
}

.car-details-right {
    width: 50%;
    height: 100%;
}

.car-details-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .2em;
}

.form-checkout-details {
    width: 49%;
    padding: 1em;
    border-radius: .2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--fourth-color);
}

.form-checkout-details ul {
    width: 100%;
}

.form-checkout-details ul li {
    width: 100%;
    display: flex;
    justify-content: space-between  ;
}

.checkout-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checkout-buttons button {
    width: 49%;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: .2em;
    padding: .2em;
    font-size: 1em;
}

@media (max-width: 700px) {

    .order-form {
        margin-top: 0;
        height: auto;
        overflow: scroll;

    }

    .form-content {
        height: auto;
        padding: 1em;
    }

    .form-title {
        height: 6%;
    }
    
    .form-user-info {
        flex-direction: column;
        height: auto;
    }

    .user-info-left {
        width: 100%;
    }

    .user-info-right {
        width: 100%;
    }

    .form-user-info input {
        width: 100%;
    }

    .form-input-container .drop-btn {
        width: 100%;
    }

    .form-order-details {
        flex-direction: column;
        height: auto;
    }

    .form-car-details {
        width: 100%;
    }

    .form-checkout-details {
        width: 100%;
    }
}


@media (min-width: 700px) {
    .order-form {
        width: 90%;
    }
}

@media (min-width: 1000px) {
    .order-form {
        width: 80%;
    }
}

@media (min-width: 1300px) {
    .order-form {
        width: 70%;
    }
}

@media (min-width: 1800px) {
    .order-form {
        width: 60%;
    }
}

