.inventory-cards-container {
    margin: 0;
    width: 100%;
    height: 90%;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow: scroll;
}


.inventory-cards-container::-webkit-scrollbar {
    width: .5em;
    height: 100%;
}

.inventory-cards-container::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

.inventory-cards-container::-webkit-scrollbar-thumb {
    border-radius: .1em;
    background-color: var(--primary-color);
}

p {
    color: var(--text-color);
}

@media (max-width: 700px) {


    .inventory-cards-container {
        width: 100%;
        height: 80%;

        margin: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }
}