.page-footer {
    width: 100%;
    height: 8em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.page-footer section {
    width: 30%;
    height: 100%;
}

.social-media-container {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.social-media-container h3 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-media-icons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-container a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5em;
    margin-left: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.copyright-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}