.inventory-page {
    overflow: scroll;
    width: 100%;
    flex: 1 1 auto;

    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.inventory-page::-webkit-scrollbar {
    width: .5em;
    height: 100%;
}

.inventory-page::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

.inventory-page::-webkit-scrollbar-thumb {
    border-radius: .1em;
    background-color: var(--primary-color);
}

@media (max-width: 700px) {
    .inventory-page {
        padding-top: 5em;
        width: 100vw;
        height: 100vh;
        flex: none;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}