.mini-card {
    cursor: pointer;
    margin-bottom: 1em;
    border-radius: .5em;
    overflow: hidden;
    background-color: #070707;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-image-container {
    width: 50%;
    height: 100%;
}

.mini-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mini-details-container {
    width: 50%;
    list-style: none;
    color: var(--text-color);
}


.mini-details-container li {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: .5em;
    margin-left: 1em;
}

.mini-detail-title {
    font-weight: bold;
}

.mini-details-container p {
    font-weight: medium;
}