.car-like-button {
    width: 1.2em;
    height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em;
    font-size: 2em;
    border: none;
    border-radius: .2em;

    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color 0.5s ease 0s;
    cursor: pointer;
}

.car-like-button:hover {
    background-color: var(--third-color);
}