:root {
    --text-color: white;
    --primary-color: #8B0B0C;
    --secondary-color: black;
    --third-color: #3e0000;
    --fourth-color : #070707;
    --background-color: #0F0F0F;
    --regular: 400;
    --medium: 500;
    --semi-bold : 600;
    --bold: 700;
}